.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.list-wrapper {
    position: absolute;
}

.card {
    background-image: linear-gradient(to right, #66c0f4, #2a475e);
    width: 265px; 
    max-width: 100%; 
}

.card-body {
    color: white;
}